<body ng-app="Renalds">
<div ng-controller="RenaldsController" layout="column" layout-align="start start">
  <div layout="row" flex>
    <md-button ng-click="toggleLeft()" hide-gt-md>
      <md-icon md-svg-icon="img/icons/ic_menu_black_24px.svg"></md-icon>
    </md-button>
  </div>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z5" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <h2>DataLogic Information Technologies, LLC</h2>
<div>
DataLogic IT, LLC provides Oracle Database consulting services for Government and Commercial clients. The company was founded by Steve and Sophia Renalds in March 2006.<br>
Companies Supported: Accenture, Qinetiq NA, Unisys, Intergraph, Preferred Systems Solutions<br>
Federal Government Agencies Supported: <span ng-click="showDialog($event,'Agency Information')"><u>Intelligence Agency</u></span>, <span ng-click="showDialog($event,'Agency Information')"><u>Law Enforcement Agency</u></span>, Defense Logistics Agency, US Customs & Border Protection
</div>
        <h2>Summary</h2>
Steve is an Oracle Database Administrator and IT consultant with over 20 years of experience supporting IT projects for Federal Agencies and corporations.  During the last 7 years, Steve has been providing engineering and team leadership to an Accenture data center project for an unnamed federal intelligence agency.  Steve contributed database architectural design aspects to the winning proposal for a federal law enforcement project for new infrastructure and data migration support.  Outside of his experience specific to Oracle, Steve has supported research and development projects focused on Data Center automations and delivering database services to the cloud.
        <h2>Client/Work History</h2>
        <div ng-controller="ExperienceController">
          <div ng-repeat="x in experience">
            <div layout-align="start start" layout="row">
              <div flex-gt-lg="10" flex-gt-sm="15" flex-sm="25" flex-order="1" layout="column">
                <div>{{ x.start }} -</div><div>{{ x.end }}</div>
              </div>
              <div flex flex-order="2" layout="column">
                <div layout="row" layout-align="space-between start">
                  <div><b>{{ x.role }}</b></div>
                  <div><a href="{{ x.client.url }}">{{x.client.name}}</a></div>
                </div>
                <div>Environment: {{ x.environment }} </div>
                <div>{{ x.excerpt }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </section>
</div>
</body>

